image:
  - Visual Studio 2022
environment:
  matrix:
    - PYTHON: "C:\\Python38"
      PYTHON_VERSION: "3.8.x"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python38-x64"
      PYTHON_VERSION: "3.8.x"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python39"
      PYTHON_VERSION: "3.9.x"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python39-x64"
      PYTHON_VERSION: "3.9.x"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python310"
      PYTHON_VERSION: "3.10.x"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python310-x64"
      PYTHON_VERSION: "3.10.x"
      PYTHON_ARCH: "64"
    - PYTHON: "C:\\Python311"
      PYTHON_VERSION: "3.11.x"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python311-x64"
      PYTHON_VERSION: "3.11.x"
      PYTHON_ARCH: "64"
version: "{build}"
init:
  - cmd: echo ===== INIT & %PYTHON%\python -m pip install poetry
build_script:
  - cmd: echo ===== BUILD & %PYTHON%\python -m poetry install
test_script:
  - cmd: echo ===== TEST & %PYTHON%\python -m poetry run python -m unittest discover
