[tool.poetry]
name = "remarshal"
version = "0.14.0"
description = "Convert between CBOR, JSON, MessagePack, TOML, and YAML"
authors = ["D. Bohdan"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
cbor2 = "^5.1"
python-dateutil = "^2.8"
PyYAML = "^5.3"
tomlkit = "^0.7"
u-msgpack-python = "^2.6"

[tool.poetry.dev-dependencies]
pytest = "^4.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.scripts]
remarshal        = 'remarshal:main'
cbor2cbor        = 'remarshal:main'
cbor2json        = 'remarshal:main'
cbor2msgpack     = 'remarshal:main'
cbor2toml        = 'remarshal:main'
cbor2yaml        = 'remarshal:main'
json2cbor        = 'remarshal:main'
json2json        = 'remarshal:main'
json2msgpack     = 'remarshal:main'
json2toml        = 'remarshal:main'
json2yaml        = 'remarshal:main'
msgpack2cbor     = 'remarshal:main'
msgpack2json     = 'remarshal:main'
msgpack2msgpack  = 'remarshal:main'
msgpack2toml     = 'remarshal:main'
msgpack2yaml     = 'remarshal:main'
toml2cbor        = 'remarshal:main'
toml2json        = 'remarshal:main'
toml2msgpack     = 'remarshal:main'
toml2toml        = 'remarshal:main'
toml2yaml        = 'remarshal:main'
yaml2cbor        = 'remarshal:main'
yaml2json        = 'remarshal:main'
yaml2msgpack     = 'remarshal:main'
yaml2toml        = 'remarshal:main'
yaml2yaml        = 'remarshal:main'
